body{
	padding: 10px;
}
#header nav{
	background: #3399cc;
	color: #ffffff;
	text-align: center;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}
#header nav a {
	color: #FFFFFF;
}
#calltoaction .jumbotron{
	padding: 5px;
	background: #EEEEEE;
	text-align: left;
	margin-bottom: 0;
	margin-top: 0;
}
#calltoaction .jumbotron .btn-feature{
	color: ##357EC7;
	border: 1px solid #357EC7;
}
#calltoaction .jumbotron .btn-feature:hover{
	color: #000000;
}
#feature1{
	padding:10px 0;
	background: #FFFFFF;
	color: #2C3E50;
	border: 1px solid #ccc;
	border-top-radius: 5px;
	text-align: center;
}
#footer{
	padding: 30px 0;
	background: #34495E;
}
label {
	margin-top: 30px;
}
input {
	margin-top: 30px;
}
textarea {
	margin-top: 30px;
}
button {
	margin-top: 30px;
}